DJANGO_SECRET_KEY=dev-secret-change-in-real-env
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=sqlite:///./backend/db.sqlite3
REDIS_URL=
CELERY_TASK_ALWAYS_EAGER=true

MEDIA_ROOT=./media
PUBLIC_BASE_URL=http://localhost:8000
ADMIN_WEB_URL=http://localhost:3001
USER_WEB_URL=http://localhost:3002
MOBILE_H5_URL=http://localhost:3003
